.mainView {
  display: flex;
  justify-content: space-between;
}
.aboutUs {
  text-decoration: underline;
  color: #a09107;
  font-weight: 600;
  font-size: 26px;
  /* line-height: 31, 2px; */
  font-family: "open sans";
}
.heading {
  width: 526px;
  padding-top: 10px;
  font-family: "Lato";
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
.contentz {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 80px;
  flex-direction: column;
}
.pad {
  padding: 80px 150px;
}
.statement_1 {
  width: 526px;
  height: 145px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "lato";
}
.picturess {
  padding-right: 20px;
  width: 600px;
}
.readmore {
  height: 48px;
  width: 140px;
  border-radius: 10px;
  background-color: #08457e;
  color: white;
  border: none;
}
