.faqcon {
  margin-top: 70px;
  background-color: #08457e;
  padding: 50px 150px;
  color: #ffff;
}
.faq-container {
  height: 100%;
  text-align: center;
}
.faqh1 {
  font-family: "Lato";
  font-size: 30px;
  font-weight: 600;
}
.fa_1 {
  font-family: "Lato";
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  text-align: center;
}
.fa_2 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
.faq-question {
  padding: 30px;
  display: flex;
  justify-content: center;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}
.fa_3 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 18px 50px;
  background-color: #fff;
  color: black;
  width: 700px;
}
.fa_5 {
  padding-top: 30px;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.fa_6 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
}
.faq-answer {
  padding: 20px 370px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
}
.fa_4{
  cursor: pointer;
}