.footer_ptn {
  background-color: white;
  padding: 90px 150px;
  /* padding: 20px 100px; */
  justify-content: space-between;
  display: flex;
}
.footer_logo {
  width: 383px;
  /* border: 1px solid red; */
}
.social_images {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 30px;
}
.motto {
  font-family: "lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.footer_logo img {
  padding-bottom: 25px;
}
.company_footer h4 {
  padding-bottom: 25px;
}
.company_footer div {
  padding-bottom: 10px;
}
.service_footer h4 {
  padding-bottom: 25px;
}
.service_footer div {
  padding-bottom: 10px;
}
.contact_footer h4 {
  padding-bottom: 25px;
}
.contact_footer div {
  padding-bottom: 10px;
}
.name {
  background-color: white;
  margin-top: 90px;
}
.copyright {
  text-align: center;
  padding-bottom: 70px;
}
.div_line {
  margin-bottom: 20px;
  border: 1;
  height: 1px;
  background-color: #ccc;
  width: 50%;
  max-width: 600px;
  margin-left: 550px;
}
.phone a {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* --------------------- responsive ------------------  */
@media (max-width: 1024px) {
  .div_line {
    margin-bottom: 20px;
    width: 50%;
    /* max-width: 500px; */
    margin-left: 280px;
  }

  .footer_ptn {
    background-color: white;
    /* padding: 90px 150px; */
    padding: 50px 80px;
    gap: 30px;
    /* align-items: center; */
  }

  .phone {
    width: 200px;
  }

  .motto {
    width: 300px;
  }
}

/* @media (max-width: 768px) {
  .footer_logo {
    display: none;
    width: 495px;
  }
  
  .footer_ptn{
    border: 1px solid red;
  }

  .name{
    border: 1px solid red;
    width: 495px;
  }

  .div_line {
    margin-left: 200px;
  }
} */

@media (max-width: 768px) {
  .service_footer {
    display: none;
  }

  .div_line {
    margin-bottom: 20px;
    width: 50%;
    margin-left: 200px;
  }
}

@media (max-width: 426px) {
  .footer_ptn {
    display: grid;
    flex-direction: column;
  }
  .name {
    width: 4159x;
  }
  .div_line {
    display: none;
  }
  .company_footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contact_footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
  }
  .ftm{
    display: none;  
  }
  .motto{
    display: none;
  }

  .footer_ptn {
    padding: 30px 10px;
  }
  .social_images{
    display: none;
  }
}
