.review_title {
  color: #a09107;
  margin-top: 30px;
  font-family: "inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 33.89px;
}
.review {
  /* padding: 0px 150px; */
  padding: 20px 100px;
}
.fam_grid {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.statement_ {
  /* border: 1px solid red; */
  /* padding-right: 280px; */
  padding-left: 50px;
}
.photos_2 {
  border-radius: 15px;
  width: 600px;
}
.happy_clients {
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  line-height: 36.31px;
  padding-bottom: 10px;
}
.happy_paragraph {
  font-family: "lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.review_box {
  /* border: 1px solid red; */
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.btn_review {
  width: 141.82px;
  height: 48.62px;
  border-radius: 11px;
  background-color: #08457e;
  color: white;
  border: none;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
}
.btn_review_btn {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}


@media (max-width:1280px) {
  .body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

}
@media (max-width:1024px) {
  .body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .fam_grid{
    flex-direction: column;
  }

  .review_box{
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 0px;
  }

  .review_box img{
    /* border: 1px solid red; */
    width: 230px;
    display: grid;
   padding: 0px 10px;
  }
  .review_title{
    text-align: center;
  }
}

/* @media (max-width: 768px){
  .review{
    padding: 20px 50px;
    border: 1px solid red;
    width: 495px;
  }

  .review_box {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .photos_2 {
    display: none;
  }
} */

@media(max-width:426px) {
  .photos_2{
    display: none;
  }

  .happy_clients{
    width: 320px;
  }

  .review {
    /* padding: 0px 150px; */
    padding: 20px 10px;
  }

  .happy_paragraph{
    width: 320px;    
  }

  .review_box{
    grid-template-columns: auto;
  }

}