.pad_2 {
  /* padding: 0px 0px; */
  /* padding: 0px 150px; */
  padding: 20px 100px;
  margin-top: 70px;
}
.about {
  text-decoration: underline;
  color: #a09107;
  font-weight: 600;
  text-align: center;
  font-family: "Lato";
  font-size: 28px;
  line-height: 33.6px;
}
.text_2 {
  text-align: center;
  font-weight: 600;
  padding-top: 25px;
  font-family: "Lato";
  font-size: 30px;
}
.text7 {
  padding-bottom: 30px;
}
.t_3 {
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-family: "lato";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  gap: 60px;
}
.ptn_btn1 {
  padding-top: 50px;
  text-align: center;
}
.btn_4 {
  height: 48px;
  border-radius: 10px;
  border: none;
  background-color: #08457e;
  color: white;
  padding: 10px;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 50px;
  }
}

@media (max-width: 426px) {
  .grid {
    grid-template-columns: auto;
    /* border: 1px solid red; */
  }
}
