* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

/* Responsive Designs */
/* @media (max-width:1280px){
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
}
 */
